* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    color: #fff;
    /* background: #09001d; */
    overflow:hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
    letter-spacing: 1px;
}

.navbar a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 50px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #79c1c7;
}

.main {
    background: url(./images/bluewaves.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
    pointer-events: auto;
    transition: 0.3s ease;
}

.main.active {  
    pointer-events: none;
}

.container {
    display:flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content.active {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
}


.home-content h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.home-content p {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: rgb(61, 158, 214, 0.2);
    border: 2px solid #fff;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px #79c1c7;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.home-content .start-btn:hover {
    background:rgba(0, 0, 0, .5);
    box-shadow: none;
}


/* @media (max-width:600px) { 
    .home {
        position: relative;
        left: -50%;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
    .home-content {
        max-width: 380px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .home-content.active {
        max-width: 380px;
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
    }





}*/
.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 30px;
    padding: 30px;
    background: rgba(254, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info .guide-info {
    padding-left: 20px;
    padding-right: 10px;
}
.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 2rem;
    color: #fff;
    padding-bottom: 15px;
    text-align: center;
    font-weight:500;
    letter-spacing: 1px;
}

.popup-info .info {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px 10px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: rgb(61, 158, 214, 0.9);
    border: 2px solid rgb(61, 158, 214, 0.9);
    outline: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, .3);*/
    transition: 0.5s;
 }

 .popup-info .btn-group .info-btn:nth-child(1) {
    background:transparent;
    color:rgb(61, 158, 214, 0.9);
 }

 .popup-info .btn-group .info-btn:nth-child(1):hover {
    background:rgb(61, 158, 214, 0.9);
    color:#fff;
 }

 
 .popup-info .btn-group .info-btn:nth-child(2):hover {
    background:rgba(48, 126, 172, 0.9);
    border-color:rgba(48, 126, 172, 0.9);
 }

.quiz-section {
    position: relative;
    left: -100%;
    width: 100%;
    background: rgba(2, 49, 77, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .15s;
    z-index:100;
}

.quiz-section.active {
    left:0;
}

@media (max-width: 840px) {
    .container .quiz-section {
        position: relative;
        left: -100%;
        width: 100%;
        background: rgba(2, 49, 77, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .8s ease-in-out;
        transition-delay: .15s;
        z-index:100;
    }
    
    .quiz-section.active {
        left:0;
    }




}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: rgba(254, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;

}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid  white;
}

.quiz-header span {
    font-size: 1rem;
    font-weight: 400;
}

.quiz-header .header-score {
    background:rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-list .option {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    background: transparent;
    border: 1px solid  #fff;
    border-radius: 30px;
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .1);
}

.option-list .option.correct {
    background:rgba(24, 148, 146, 0.8);
    color: #fff;
    font-weight: 500;
    border-color:rgba(24, 148, 146, 0.8);
}


.option-list .option.incorrect {
    background:rgba(148, 24, 65, 0.8);
    color: #fff;
    font-weight: 500;
    border-color:rgba(148, 24, 65, 0.8);
}

.option-list .option.disabled {
    pointer-events: none;

}

.quiz-box .quiz-footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-footer .question-total {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;

}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 30px;
    outline: none;
    background: rgba(2, 49, 77, 1);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}


.quiz-footer .next-btn:hover {
    background: rgba(48, 126, 172, 0.9);
    border: 1px solid rgba(48, 126, 172, 0.9);

}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: rgba(48, 126, 172, 0.9);
    border-color: rgba(48, 126, 172, 0.9);
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    pointer-events: auto;
    background: rgba(18, 85, 124, 0.9);
    border-color:rgba(18, 85, 124, 0.9);
    color: #fff;
}

.quiz-section .result-box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);

}

.result-box h2 {
    font-size: 2rem;
}

.result-box .percentage-container {
    width: 300px;
    background:  rgba(2, 49, 77, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
    padding: 15px;

}

.percentage-container .circular-progress {
    position: relative;
    width: 300px;
    height: 300px;
    background: conic-gradient(rgba(48, 126, 172, 0.9) 3.6deg, rgba(11, 116, 128, 0.9) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgba(2, 49, 77, 1);
    border-radius: 50%;
}


.circular-progress .progress-value {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;

}

.buttons button {
    width: 130px;
    height: 47px;
    background:rgba(48, 126, 172, 0.9);
    border: 2px solid rgba(48, 126, 172, 0.9);
    border-radius: 30px;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin: 0 20px 20px;
    cursor: pointer;
    transition:.5s;
}


.buttons button:nth-child(1) {
    background:rgba(48, 126, 172, 0.9);
    border-color: rgba(48, 126, 172, 0.9);
}

.buttons button:nth-child(1):hover {
    background:rgba(14, 79, 117, 0.9);
    border-color: rgba(14, 79, 117, 0.9);
}
.buttons button:nth-child(2) {
    background: transparent;
    color: rgba(48, 126, 172, 0.7);
    font-weight: 600;
}

.buttons button:nth-child(2):hover {
    background: rgba(48, 126, 172, 0.7);
    color: #fff;
}

/* HELP FOOTER MENUS */

.container-menus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    text-align:center;
    padding-top: 60px;
    padding-bottom: 10px;
    background-color:rgb(255, 244, 238);
    font-family: "Montserrat", sans-serif;
    color:rgb(100, 100, 100, 1);
    font-weight: 400;
    font-size: 1rem;
}

.container-menus h3 {
    justify-content:center;
    align-items:center;
    margin: 10 auto;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    
}

.about-us-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    list-style-type: none;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.about-us-menu ul, .customer-care-menu ul {
    list-style-type: none;
    text-decoration: none;
    padding: 10px 0;
}

.about-us-menu li, .customer-care-menu li {
    padding: 5px 0;
}

.about-us-menu ul li:hover {
    color: rgba(223, 95, 52, 0.9);
    font-weight:500;

}

.customer-care-menu ul li:hover {
    color: rgba(223, 95, 52, 0.9);
    font-weight:500;
}

.customer-care-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {

    .container-menus {
        flex-direction:row;
        text-align: left;
        align-items: flex-start;
        gap: 100px;
        padding-left:15%;
        padding-right:15%;
    }

    .customer-care-menu h3 {
        justify-content: left;
        align-items:left;
        text-align:left;
    }

    
    .customer-care-menu {
        align-items:left;
        text-align:left;
    }

    .container-menus .about-us-menu {
        margin-top: 0;
        align-items: left;
        text-align:left;  
    }

    .container-menus h3 {
        justify-content:left;
        align-items:left;    
    }
}

@media (min-width: 950px) {

    .container-menus {
        padding-left:20%;
        padding-right:20%;
    }
}
/* Socials */

.socials {
    padding: 0 15px 20px 15px;
    background-color:rgb(255, 244, 238);
}


.socials ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.bi-instagram, .bi-tiktok, .bi-facebook {

    background-color:rgba(223, 95, 52, 0.8);
    border-radius: 50%;
    padding: 10px 13px;
    color: white;
    font-size: 1rem;
}



/* All rights reserved */

.rights {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color:rgb(100, 100, 100, 1);
    font-weight: 300;
    padding: 10px;
    background-color:rgb(255, 244, 238);
    margin: 0;
}

.rights p {
    font-family: "Montserrat", sans-serif;
    color:rgb(100, 100, 100, 1);
    font-weight: 400;
    font-size: 0.8rem;
    padding: 10px;
    padding-bottom: 30px;
}

@media (min-width: 768px) {

    .rights {
        padding-top:20px;
        padding-bottom: 20px;
    }

}
