* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    color: #fff;
    background: #09001d;
    overflow:hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
    letter-spacing: 1px;
}

.navbar a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 50px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #79c1c7;
}

.main {
    background: url(./images/bluewaves.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
    pointer-events: auto;
    transition: 0.3s ease;
}

.main.active {  
    filter: opacity(1);
    pointer-events: auto;
 
}


.main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;   
}


.container {
    display:flex;
    height: 100vh;
    width: 200%;
}



.home {
    position: relative;
    left: -50%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content.active {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
}


.home-content h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.home-content p {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: rgb(61, 158, 214, 0.2);
    border: 2px solid #fff;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px #79c1c7;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.home-content .start-btn:hover {
    background:rgba(0, 0, 0, .5);
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 30px;
    padding: 30px;
    background: rgba(254, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info .guide-info {
    padding-left: 20px;
    padding-right: 10px;
}
.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 2rem;
    color: #fff;
    padding-bottom: 15px;
    text-align: center;
    font-weight:500;
    letter-spacing: 1px;
}

.popup-info .info {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px 10px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: rgb(61, 158, 214, 0.9);
    border: 2px solid rgb(61, 158, 214, 0.9);
    outline: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, .3);*/
    transition: 0.5s;
 }

 .popup-info .btn-group .info-btn:nth-child(1) {
    background:transparent;
    color:rgb(61, 158, 214, 0.9);
 }

 .popup-info .btn-group .info-btn:nth-child(1):hover {
    background:rgb(61, 158, 214, 0.9);
    color:#fff;
 }

 
 .popup-info .btn-group .info-btn:nth-child(2):hover {
    background:rgba(48, 126, 172, 0.9);
    border-color:rgba(48, 126, 172, 0.9);
 }

.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: rgba(2, 49, 77, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .15s;
    z-index:100;
}

.quiz-section.active {
    left:0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: rgba(254, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;

}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid  white;
}

.quiz-header span {
    font-size: 1rem;
    font-weight: 400;
}

.quiz-header .header-score {
    background:rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-list .option {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    background: transparent;
    border: 1px solid  #fff;
    border-radius: 30px;
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
}

.option-list .option.correct {
    background:rgba(142, 191, 43, 0.8);
    color: #fff;
    font-weight: 500;
    border-color:rgba(142, 191, 43, 0.8);
    backdrop-filter: blur(5px);
}


.option-list .option.incorrect {
    background:rgba(205, 40, 48, 0.8);
    color: #fff;
    font-weight: 500;
    border-color:rgba(205, 40, 48, 0.8);
    backdrop-filter: blur(15px);
}

.option-list .option.disabled {
    pointer-events: none;

}

.quiz-box .quiz-footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-footer .question-total {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;

}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 30px;
    outline: none;
    background: rgba(2, 49, 77, 1);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}


.quiz-footer .next-btn:hover {
    background: rgba(48, 126, 172, 0.9);
    border: 1px solid rgba(48, 126, 172, 0.9);

}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: rgba(48, 126, 172, 0.9);
    border-color: rgba(48, 126, 172, 0.9);
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    pointer-events: auto;
    background: rgba(18, 85, 124, 0.9);
    border-color:rgba(18, 85, 124, 0.9);
    color: #fff;
}

.quiz-section .result-box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);

}

.result-box h2 {
    font-size: 2rem;
}

.result-box .percentage-container {
    width: 300px;
    background:  rgba(2, 49, 77, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
    padding: 15px;

}

.percentage-container .circular-progress {
    position: relative;
    width: 300px;
    height: 300px;
    background: conic-gradient(rgba(48, 126, 172, 0.9) 3.6deg, rgba(11, 116, 128, 0.9) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgba(2, 49, 77, 1);
    border-radius: 50%;
}


.circular-progress .progress-value {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;

}

.buttons button {
    width: 130px;
    height: 47px;
    background:rgba(48, 126, 172, 0.9);
    border: 2px solid rgba(48, 126, 172, 0.9);
    border-radius: 30px;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin: 0 20px 20px;
    cursor: pointer;
    transition:.5s;
}


.buttons button:nth-child(1) {
    background:rgba(48, 126, 172, 0.9);
    border-color: rgba(48, 126, 172, 0.9);
}

.buttons button:nth-child(1):hover {
    background:rgba(14, 79, 117, 0.9);
    border-color: rgba(14, 79, 117, 0.9);
}
.buttons button:nth-child(2) {
    background: transparent;
    color: rgba(48, 126, 172, 0.7);
    font-weight: 600;
}

.buttons button:nth-child(2):hover {
    background: rgba(48, 126, 172, 0.7);
    color: #fff;
}


/* All rights reserved */

.rights {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
}

.rights p {
    color:rgb(222, 229, 236);
    font-weight: 400;
    font-size: 0.9rem;
    padding-bottom: 40px;
}


/* RESPONSIVE */

@media (max-width: 420px) {
    
    .home-content {
        /* max-width: 300px; */
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}

@media (max-width: 767px) {
    .header {
        padding: 15px 15px;
    }

}

/* For screens between 768px and 950px */
@media (min-width: 768px) and (max-width: 949px) {
    /* Adjust styles for medium screens here */
}

/* For screens larger than 950px */
@media (min-width: 950px) {
    /* Adjust styles for larger screens here */
}
